/*!*************************************************************************************************************************************************************************************************************************************************************!*\
  !*** css ./node_modules/next/dist/build/webpack/loaders/css-loader/src/index.js??ruleSet[1].rules[13].oneOf[12].use[2]!./node_modules/next/dist/build/webpack/loaders/postcss-loader/src/index.js??ruleSet[1].rules[13].oneOf[12].use[3]!./app/globals.css ***!
  \*************************************************************************************************************************************************************************************************************************************************************/

:root {
  -webkit-font-smoothing: antialiased;
  -moz-osx-font-smoothing: grayscale;
}
body {
  margin: 0;
  padding:0;
}
.MuiTypography-h1,
.MuiTypography-h2,
.MuiTypography-h3,
.MuiTypography-h4,
.MuiTypography-h5,
.MuiTypography-h6 {
  font-feature-settings: "salt";
}
.MuiToolbar-root {
  padding: 0;
}
/* .MuiInputLabel-root {
  font-size: 16px;
  font-weight: 700;
} */
.MuiInputLabel-asterisk {
  font-weight: 200;
  color: #CA2320;
}

/*!***********************************************************************************************************************************************************************************************************************************************************************************************************************************************************************************************************************************************************************************************************************************************************************************************************************************************!*\
  !*** css ./node_modules/next/dist/build/webpack/loaders/css-loader/src/index.js??ruleSet[1].rules[13].oneOf[3].use[1]!./node_modules/next/dist/build/webpack/loaders/next-font-loader/index.js??ruleSet[1].rules[13].oneOf[3].use[2]!./node_modules/next/font/local/target.css?{"path":"app\\layout.tsx","import":"","arguments":[{"src":[{"path":"./RTBasis-Light.woff2","weight":"200","style":"normal"},{"path":"./RTBasis-Regular.woff2","weight":"400","style":"normal"},{"path":"./RTBasis-Medium.woff2","weight":"500","style":"normal"},{"path":"./RTBasis-Bold.woff2","weight":"700","style":"normal"}]}],"variableName":"RTBasis"} ***!
  \***********************************************************************************************************************************************************************************************************************************************************************************************************************************************************************************************************************************************************************************************************************************************************************************************************************************************/
@font-face {
font-family: '__RTBasis_b7f8e6';
src: url(/_next/static/media/c313fac509366a2c-s.p.woff2) format('woff2');
font-display: swap;
font-weight: 200;
font-style: normal;
}

@font-face {
font-family: '__RTBasis_b7f8e6';
src: url(/_next/static/media/8ed4882558b7e1e8-s.p.woff2) format('woff2');
font-display: swap;
font-weight: 400;
font-style: normal;
}

@font-face {
font-family: '__RTBasis_b7f8e6';
src: url(/_next/static/media/c0789b48df1b84ec-s.p.woff2) format('woff2');
font-display: swap;
font-weight: 500;
font-style: normal;
}

@font-face {
font-family: '__RTBasis_b7f8e6';
src: url(/_next/static/media/7d4d0b4967aab5d5-s.p.woff2) format('woff2');
font-display: swap;
font-weight: 700;
font-style: normal;
}@font-face {font-family: '__RTBasis_Fallback_b7f8e6';src: local("Arial");ascent-override: 93.99%;descent-override: 25.46%;line-gap-override: 0.00%;size-adjust: 102.13%
}.__className_b7f8e6 {font-family: '__RTBasis_b7f8e6', '__RTBasis_Fallback_b7f8e6'
}

